.product {
  position: relative;
  display: block;

  width: 255px;
  height: 255px;

  text-decoration: none;

  background-position-x: center;
  background-size: cover;

  border-radius: 8px;

  transition: all 0.2s ease-in-out;

  span.live {
    display: none;
  }

  span.coming_soon {
    position: absolute;
    right: 20px;
    top: 20px;
    
    padding: 5px;
    border-radius: 4px;

    color: black;
    font-weight: 600;
    background: #DCDDE5;
  }

  .product-info {
    position: absolute;

    width: 100%;
    bottom: 0px;

    background: rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 8px 8px;

    padding: 10px;

    transition: all 0.2s ease-in-out;
    h4 {
      font-size: 19px;
      line-height: 20px;
      color: white;

      margin: 0;
      padding: 0;
    }

    span {
      font-size: 15px;
      line-height: 20px;
      color: white;

      margin: 0;
      padding: 0;
    }
  }

  &:hover {
    .product-info {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}